{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SnipBoard</title>
  <link rel="shortcut icon"
    href="https://dl1.cbsistatic.com/i/2017/07/19/3220a58c-6cff-4be7-b5c2-0454cda385ea/9496cda6505b902811c5d624d015142b/imgingest-6105450939954122206.png"
    type="image/x-icon">
  <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="margin-bottom: 50px !important ;">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <h1 class="is-size-3"> <strong>SnipBoard</strong></h1>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-size-5" href="#">
          Home
        </a>

        <a class="navbar-item button is-primary is-rounded" href="{% url 'index' %}" style="margin: auto;">
          <strong>+ New Snip</strong>
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info is-rounded">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light is-rounded">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="block">



      <div class="columns">
        <div class="column is-three-quarters">
          <div class="container">
            <div class="is-block">
              {% block content %}

              {% endblock %}
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <article class="panel is-info">
            <p class="panel-heading">
              All Snippets:
            </p>
            <p class="panel-tabs">
              <a class="is-active">All</a>
              <a>Public</a>
              <a>Private</a>
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-info" type="text" placeholder="Search">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            {% for i in snips %}

            <a class="panel-block" href="{% url 'index'%}p/{{i.link_code}}">
              <span class="panel-icon is-left">
                <i class="fas fa-book" aria-hidden="true"></i>
              </span>{{i.title}}
            </a>
            {% endfor %}

          </article>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/prism.js' %}"></script>
</body>

</html>