{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SnipBoard</title>
  <link rel="shortcut icon"
    href="https://icons.iconarchive.com/icons/thehoth/seo/256/seo-web-code-icon.png"
    type="image/x-icon">
  <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>


<body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="margin-bottom: 50px !important ;">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <h1 class="is-size-3"> <strong>SnipBoard</strong></h1>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-size-5" href="{% url 'all' %}">
          Home
        </a>

        <a class="navbar-item button is-primary is-rounded" href="{% url 'index' %}" style="margin: auto;">
          <strong>+ New Snip</strong>
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info is-rounded">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light is-rounded">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="block">



      <div class="columns">
        <div class="column is-three-quarters">
          <div class="container">
            <div class="is-block">
              {% block content %}

              {% endblock %}
            </div>
          </div>
        </div>

        <div class="column is-one-quarter" style="margin-left: 40px ;">
          <article class="panel is-info">
            <p class="panel-heading">
              All Snippets:
            </p>
            <p class="panel-tabs">
              <a>All</a>
              <a>Public</a>
              <a>Private</a>
            </p>
            <div class="panel-block">
<style>
    .searchform input{
  margin: 10px !important;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  }

  .asteriskField {
    display: none;
}

</style>
              <form method="POST" class="uniForm searchform is-left" style="font-weight: 700 !important;">
                {% csrf_token %}
                {{ searchform|crispy }}
              </form>
              <button class="button is-info is-small is-rounded is-right" style="margin-top: 22px; margin-left: 20px;">Submit</button>
            </div>

            {% for i in snips %}

            <a class="panel-block" href="{% url 'index'%}p/{{i.link_code}}">
              <span class="panel-icon is-left">
                <i class="fas fa-laptop-code">&nbsp; &nbsp;</i>
              </span>{{i.title}}
            </a>
            {% endfor %}

          </article>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/prism.js' %}"></script>
</body>

</html>