{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<style>
  .snipform{
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 40px;
  }
  

  .snipform input{
  margin: 15px !important;
  padding: 10px 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  }

  .snipform textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize:vertical;
  overflow:auto;  
}

.snipform select {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
</style>
<article>
  <div class="main">
    <form method="POST" class="uniForm snipform" style="font-weight: 700 !important;">
      {% csrf_token %}
      {{ form|crispy}}

      <div class="field">
        <div class="control">
          <button class="button is-info is-rounded" type="submit" style="margin-top: 20px;">Submit</button>
        </div>
      </div>
    </form>
  </div>
</article>
{% endblock %}